<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMh98v290BluRUZfcSgUO3EYrt2wPP76g</string>
	<key>GCM_SENDER_ID</key>
	<string>959134136901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enescerrahoglu.templateAppBloc</string>
	<key>PROJECT_ID</key>
	<string>flutter-bloc-template-95808</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-bloc-template-95808.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959134136901:ios:9f55ec1a1cd9f507a2412c</string>
</dict>
</plist>